.vs/
/WebApplication1/obj/Debug/net10.0/rpswa.dswa.cache.json
/WebApplication1/obj/Debug/net10.0/WebApplication1.AssemblyInfo.cs
/WebApplication1/obj/Debug/net10.0/WebApplication1.AssemblyInfoInputs.cache
/WebApplication1/obj/Debug/net10.0/WebApplication1.assets.cache
/WebApplication1/obj/Debug/net10.0/WebApplication1.GeneratedMSBuildEditorConfig.editorconfig
/WebApplication1/obj/project.assets.json
/WebApplication1/obj/project.nuget.cache
/WebApplication1/obj/WebApplication1.csproj.nuget.dgspec.json
